@charset "utf-8";

main {width: 100%;}


h2 {text-align: center; font-size: 32px;  color: #555;}

h3 {font-size: 24px; font-weight: 800; color: #555; margin-bottom: 20px;}

.delivery_info, .order {margin: 10px 20px; }

.btn_delivery {width: 100%; height: 55px; border-radius: 8px; border: none; background-color: #84a3c0; color: #fff; font-weight: bold; line-height: 55px; font-size: 18px; cursor: pointer; }

.btn_delivery:hover {background-color: #5b758a;}

.line {width: 100%; overflow: hidden;}

.order_top {display: flex; justify-content: space-between; align-items: center;}

.btn_cupon {font-size: 14px; font-weight: bold; color: #555; padding: 5px 10px; border-color: #555; border-radius: 5px; background-color: #fff; cursor: pointer; }

.order_item {display: flex; gap: 10px; margin-bottom: 20px;}

.order_info {color: #555;}

.order_name, .order_price {font-size: 16px; font-weight: 800;}
.order_option {font-size: 14px; font-weight: 600;}

.order_total_bar {background-color: #84a3c0; border-radius: 5px; text-align: center; padding: 8px; color: #fff; font-size: 15px;}

.pay_method {margin: 30px 20px;}

.payment_group {color: #555; font-size: 20px; font-weight: 600;}

.payment_group > label {font-weight: 700;}

.payment_buttons {display: flex; justify-content: space-between; align-items: center; gap: 10px; margin: 10px 0; }

.pay_btn {border: 1px solid #555; border-radius: 5px; width: 50%; text-align: center; padding: 10px 0; cursor: pointer;}

.easy_pay {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; gap: 10px; margin: 10px 0;}

.pay_logo {border: 1px solid #555; border-radius: 5px; width: 30%; height: 46px; display: flex; align-items: center; justify-content: space-between; cursor: pointer; box-sizing: border-box;}

.pay_logo img {max-width: 80%; max-height: 60%; object-fit: contain;}


.payment_buttons input, .easy_pay input {display: none;}



